
<section class="container-fluid bg-dark-gray overflow-hidden pleftright0 ptop0 ng-scope" id="sales-pitch" ng-hide="hideFooter">
    <div class="container">
        <div class="row text-white ptopbot30 mtopbot0">
            <div class="col-md-3 col-sm-4 col-xs-6">
                <h4 class="text-400 border-bottom border-primary display-inline-block">About</h4>
                <p>We believe in innovation, and our goal was to be unique since day one. Eventjoin is a professional networking company...</p>
                <a href="/about" class="">Read more</a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <h4 class="text-400 border-bottom border-primary display-inline-block">Important Links</h4>
                <ul class="list-unstyled footer-links"
                    ng-class="{'text-left':!screenWidth.xs,'text-center':screenWidth.xs}">
                    <li><a href="/">Add your venue</a></li>
                    <li><a href="/">Search venues</a></li>
                    <li><a href="/">Become a speaker</a></li>
                    <li><a href="/">Find a speaker</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <h4 class="text-400 border-bottom border-primary display-inline-block">Additional Links</h4>
                <ul class="list-unstyled footer-links"
                    ng-class="{'text-left':!screenWidth.xs,'text-center':screenWidth.xs}">
                    <li><a href="/">About us</a></li>
                    <li><a href="/">Contact us</a></li>
                    <li><a href="/">How it works</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <h4 class="text-400 border-bottom border-primary display-inline-block">Contacts</h4>
                <ul class="list-unstyled footer-links"
                    ng-class="{'text-left':!screenWidth.xs,'text-center':screenWidth.xs}">
                    <li class="text-lowercase"><a href="/" class="text-lowercase"><i class="fa fa-envelope pright5"> support@eventjoin.com</i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row row-centered bg-black-25 text-white">
        <p class="ptop10 pbot0">© 2017 eventjoin</p>
    </div>
</section>